<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/Confirmed/">신규 확진자</a></li>
    <li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/Policy/">정부 방침</a></li>
    <li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/Quarantine/">방역 현황</a></li>
    <li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/Screen/">선별 진료소</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>